:root {
  --branding-color: rgb(115, 144, 95);
  --secondary-color: rgb(94, 130, 75);
  --heading-font-family: "Raleway", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}

h1,
h3,
h4,
h5,
h6 {
  color: rgb(240, 239, 237);
  font-family: var(--heading-font-family);
  font-weight: bold;
}
p {
  font-family: var(--default-font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
}
h1 {
  font-size: 75px;
}
h2 {
  font-size: 64px;
}
h4 {
  font-size: 48px;
}
body {
  color: var(--secondary-color);
}

.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 54px;
  line-height: 1.5;
  color: var(--secondary-color);
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
  color: var(--branding-color);
}
.content h3 {
  font-family: var(--default-font-family);
  color: var(--branding-color);
  font-size: 24px;
  line-height: 1.5;
}
.content p {
  font-family: var(--default-font-family);
  font-weight: 100;
  color: var(--branding-color);
  font-size: 14px;
}
.content {
  margin: 30px;
}

.btn-branding {
  color: rgb(240, 239, 237);
  background-color: var(--branding-color);
  font-family: var(--heading-font-family);
  font-weight: normal;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}

.btn-branding:hover {
  background-color: rgb(240, 239, 237);
  color: var(--secondary-color);
  border-color: rgb(239, 224, 194);
}
.btn-branding-outline {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  font-family: var(--heading-font-family);
  background-color: var(--branding-color);
  color: rgb(240, 239, 237);
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
  color: rgb(240, 239, 237);
}
.hero p {
  font-size: 36px;
}
.hero h2 {
  font-family: var(--secondary-color);
  font-weight: normal;
  font-size: 22px;
}
.project-description {
  padding: 120px 60px;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: #242e1f;
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background: var(--secondary-color);
  color: rgb(250, 243, 231);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  font-size: 24px;
  color: var(--secondary-color);
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  background-color: rgb(250, 243, 231);
  color: var(--branding-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: rgb(250, 243, 231);
  background: var(--branding-color);
}

@media (max-width: 960px) {
  h1 {
    font-size: 34px;
    line-height: 1.5;
  }
  h2 {
    font-size: 34px;
  }

  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
